<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chrise Nwachukwu</title>
</head>
<body>
    <h1>Welcome, fellow earthlings.</h1>
    <p>About</p>
    <h4>Stack</h4>
    <h5>Frontend</h5>
    <ul>
        <li></li>
    </ul>
    <h5>Backend</h5>
    <ul>
        <li></li>
    </ul>
    <h5><a href="{% url 'portfolio' %}">Projects</a></h5>
    <h5><a href="https://github.com/MissBellum">GitHub</a></h5>
    <h5><a href="">Blog</a></h5>
    <h5><a href="">Articles</a></h5>
    <h5><a href="">Contact</a></h5>

</body>
</html>