{% extends 'index.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
<section>
    <div>
        <i id="Language" class="fa-solid fa-laptop-code fa-2xl"></i>            
        <div class="stack-div fade-text">
            <h5 class="language"></h5>
            <ul class="language"></ul>
        </div>
    </div>
    <div>
        <i id="Frontend" class="fa-solid fa-code fa-2xl"></i>
        <div class="stack-div fade-text">
            <h5 class="frontend"></h5>
            <ul class="frontend"></ul>
        </div>
    </div>
    <div>
        <i id="Backend" class="fa-solid fa-terminal fa-2xl"></i>
        <div class="stack-div fade-text">
            <h5 class="backend"></h5>
            <ul class="backend"></ul>
        </div>
    </div>
    <div>
        <i id="Database" class="fa-solid fa-database fa-2xl"></i>
        <div class="stack-div fade-text">
            <h5 class="database"></h5>
            <ul class="database"></ul>
        </div>
    </div>
</section>
{% endblock %}