{% extends 'index.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
<section>
    <div>
        <i id="language" class="fa-solid fa-laptop-code fa-2xl"></i>            
        <div class="stack-div">
            <h6 class="language"></h6>
            <ul class="lang-list"></ul>
        </div>
    </div>
    <div>
        <i class="fa-solid fa-code fa-2xl"></i>
        <div class="stack-div">
            <h6 class="frontend"></h6>
            <ul class="front-list"></ul>
        </div>
    </div>
    <div>
        <i class="fa-solid fa-terminal fa-2xl"></i>
        <div class="stack-div">
            <h6 class="backend"></h6>
            <ul class="back-list"></ul>
        </div>
    </div>
    <div>
        <i class="fa-solid fa-database fa-2xl"></i>
        <div class="stack-div">
            <h6 class="database"></h6>
            <ul class="data-list"></ul>
        </div>
    </div>
</section>
{% endblock %}