{% extends 'index.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}
<section>
    <div>
        <i id="language" class="fa-solid fa-laptop-code fa-2xl"></i>            
        <h6 class="language">Language</h6>
    </div>
    <div>
        <i class="fa-solid fa-code fa-2xl"></i>
        <h6 class="frontend">Frontend</h6>
    </div>
    <div>
        <i class="fa-solid fa-terminal fa-2xl"></i>
        <h6 class="backend">Backend</h6>
    </div>
    <div>
        <i class="fa-solid fa-database fa-2xl"></i>
        <h6 class="database">Database</h6>
    </div>
</section>
{% endblock %}