<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Chrise Nwachukwu</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'portfolio-favicon.png' %}">
</head>
<body>
{% block content %}
    <header>
        <h2>Welcome, fellow <code>earthlings</code>.</h2>
        <p>My name is Chrise. I'm trying to break into Tech. You can take a look at my projects, see if you find anything interesting. I'd love your feedback! Thanks!</p>
    </header>
    <main>
        <section>
            <h4>Languages</h4>
            <ul>
                <li>Python</li>
                <li>Javascript</li>
                <li>More to come...</li>
            </ul>
        </section>
        <section>
            <h4>Frontend</h4>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>Tailwind</li>
                <li>React</li>
            </ul>
        </section>
        <section>
            <h4>Backend</h4>
            <ul>
                <li>Django</li>
                <li>More coming soon!</li>
            </ul>
        </section>
        <section>
            <h4>Database</h4>
            <ul>
                <li>Postgres</li>
                <li>Sqlite</li>
            </ul>
        </section>
    </main>
{% endblock %}
    <footer>
        <div>
            <p><a href="#">Play me! I'm a fun game!</a></p>
        </div>
        <p><a href="{% url 'projects' %}">Projects</a></p>
        <p><a href="https://github.com/MissBellum">GitHub</a></p>
        <p><a href="#">Blog</a></p>
        <p><a href="#">Articles</a></p>
        <p><a href="#">Contact</a></p>
    </footer>
</body>
</html>