{% extends "index.html" %}

{% block title %}
    <title>Projects</title>
{% endblock %}

{% block content %}
    {% for project in projects %}
        <section>
            <h2>{{ project.title }}</h2>
            <p>{{ project.description }}</p>
            <p>Tech: {{ project.technology }}</p>
            <!-- Make images circular -->
            <img src="{{ project.image.url }}" alt="{{ project.title }}">
            <p class="date-font">Date added: {{ project.date }}</p>
        </section>
    {% endfor %}
{% endblock %}
    <!-- Include change theme -->
